[submodule "pack/plugins/opt/neosolarized"]
	path = pack/plugins/opt/neosolarized
	url = git@github.com:overcache/NeoSolarized.git
[submodule "pack/plugins/opt/syntastic"]
	path = pack/plugins/opt/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "pack/plugins/opt/vim-surround"]
	path = pack/plugins/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/opt/nvim-lspconfig"]
	path = pack/plugins/opt/nvim-lspconfig
	url = git@github.com:Duologic/nvim-lspconfig.git
[submodule "pack/plugins/opt/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/opt/telescope"]
	path = pack/plugins/opt/telescope
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/plugins/opt/plenary"]
	path = pack/plugins/opt/plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/plugins/opt/vim-rhubarb"]
	path = pack/plugins/opt/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "pack/plugins/opt/nvim-web-devicons"]
	path = pack/plugins/opt/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "pack/plugings/opt/vim-jsonnet"]
	path = pack/plugins/opt/vim-jsonnet
	url = git@github.com:Duologic/vim-jsonnet.git
[submodule "pack/plugins/opt/vim-markdown"]
	path = pack/plugins/opt/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/plugins/opt/vim-terraform"]
	path = pack/plugins/opt/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "pack/plugins/opt/gitsigns"]
	path = pack/plugins/opt/gitsigns
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "pack/plugins/opt/nvim-cmp"]
	path = pack/plugins/opt/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/plugins/opt/cmp-nvim-lsp"]
	path = pack/plugins/opt/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/plugins/opt/luasnip"]
	path = pack/plugins/opt/luasnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "pack/plugins/opt/cmp-luasnip"]
	path = pack/plugins/opt/cmp-luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "pack/plugins/opt/vim-cue"]
	path = pack/plugins/opt/vim-cue
	url = https://github.com/jjo/vim-cue.git
[submodule "pack/plugins/opt/cmp-nvim-lsp-signature-help"]
	path = pack/plugins/opt/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule "pack/plugins/opt/which-key"]
	path = pack/plugins/opt/which-key
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/plugins/opt/nvim-treesitter"]
	path = pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/opt/solarized-nvim"]
	path = pack/plugins/opt/solarized-nvim
	url = https://github.com/shaunsingh/solarized.nvim.git
[submodule "pack/plugins/opt/lualine-nvim"]
	path = pack/plugins/opt/lualine-nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/opt/nvim-solarized-lua"]
	path = pack/plugins/opt/nvim-solarized-lua
	url = https://github.com/ishan9299/nvim-solarized-lua.git
